@font-face {
  font-family: Cloud;
  src: url('../font/MCKLW___.ttf');
}

.gradient {
  filter: none;
}

body {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */

  background-color : #009ddc;
}

.hero-unit, .page-header {
  text-align: center;
}

.page-header {
  border: none;
  color : white;
}

.page-header h1 {
  font-family: Cloud, sans-serif;
}

.page-header h2 {

}

.hero-unit {
  background-color: transparent;
}

.cloud {
  border-radius: 500px;
  background-color: white;
  max-width: 500px;
  margin: auto;
  padding-top: 75px;
  padding-bottom : 25px;
  z-index: 1;
  max-height: 200px;
  position : relative;
  margin-top : 50px;
  box-shadow: 0px 0px 25px #333;
}

.cloud > div:not(.extracloud) {
  z-index: 1;
}

.cloud:after, .cloud:before{
  content: ".";
  color: white;
  background-color: white;
  border-radius: 500px;
  z-index: -1;
  position: absolute;
  box-shadow: 0px 0px 25px #333;
}

.cloud:after {
  height: 200px;
  width: 200px;
  margin-top: -240px;
  margin-left: 240px;
}

.cloud:before {
  height: 250px;
  width: 250px;
  margin-top: -180px;
  margin-left: 60px;
}

#nameField {
  height: 50px;
  color: #009DDC;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow : 0px 0px 3px RGBA(0, 0, 0, 0.2);
}

.extracloud {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  border-radius: 500px;
  z-index: 0;
}

.extracloud::before {
  content: ".";
  color: white;
  background-color: white;
  border-radius: 500px;
  z-index: -1;
  position: absolute;
  height: 250px;
  width: 250px;
  margin-top: -100px;
  margin-left: -60px;
}